@charset "utf-8";

.pwb-control .pwb-input[type="email"] {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
}

.pwb-control .pwb-input[type="email"] {
	border-width: 0;
}

.pwb-control .pwb-input[type="email"]:focus {
	box-shadow: none;
}

@import "../blocks/testimonial/editor.scss";
@import "../blocks/subscribe-form/editor.scss";
